// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mapWidth : 100%;
$mapHeight : 400px;
$mainContainerPadding: 5px;

#map-canvas {
  width: $mapWidth; 
  height: $mapHeight;
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 250px;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

.container {
  padding-left: $mainContainerPadding;
  padding-right: $mainContainerPadding;
}

.form-container {
  padding-left: 40px;
  padding-right: 40px;
}