<div class="jumbotron">
  <div class="container">
    <h1>Welcome to BabyPlaces!</h1>
    <p>What are you looking for ?</p>
    
    <p><%= link_to 'Search Nearby Places', places_search_path, class: 'btn'%></p>
  </div>
</div>