<div class="col-lg-12">
  <h1 style="display: inline">Add New Place</h1>

  <span><%= link_to 'Back', places_path %></span>
  <%= render 'form' %>

  <br/>


  <script type="text/javascript">
    window.Map.initializeMap();
  </script>
</div>